.mainPageContainer {
  width: 100%;
  background-color: blue;
  color: black;
  text-align: left;
  padding: 14px 28px;
}

.timeContainer {
  margin-top: 20px;
  background-color: pink;
}

.tableContainer {
  margin-top: 20px;
  background-color: green;
}
