.formContainer {
  position: fixed;
  top: 54%; /* move it a bit below 50% */
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #e3e6e7;
  box-sizing: border-box;
  padding: 4vh 3vw 4vw 3vw;
  border-radius: 8px;
  align-content: center;
  z-index: 10;
  max-width: 80vw;
  max-height: 85vh;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1rem;
}

.popupCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
}

.closeButton:hover,
.popupCloseButton {
  cursor: pointer;
}

.form {
  text-align: start;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;

  input,
  textarea,
  select,
  label {
    width: "100%";
  }
}

.contactContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.inputStyles {
  width: 300px;
  height: 2rem;
  margin-bottom: 10px;
}

.submitContainer {
  width: 100%;
  margin-top: 10px;
  text-align: end;
}

.submitButton {
  font-size: 1rem;
}

.submitButton:hover {
  cursor: pointer;
}

.submittedPopup {
  position: relative;
  background-color: #e0e0e0;
  width: fit-content;
  height: 300px;
  border-radius: 8px;
  padding: 0px 80px;
  margin: auto;
  margin-top: auto;
  align-content: center;
}

@media (max-width: 850px) {
  .inputStyles {
    width: 250px;
    height: 1.5rem;
  }
  .closeButton {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .formContainer {
    min-width: 85vw;
  }
  .closeButton {
    font-size: 0.6rem;
  }
  .inputStyles {
    width: 220px;
  }
}

@media (max-width: 600px) {
  .inputStyles {
    width: 180px;
    height: 1.2rem;
  }
}

@media (max-width: 500px) {
  .formContainer {
    padding-left: 16px;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
  .inputStyles {
    width: 300px;
  }
  .formTitle {
    margin-bottom: -30px;
  }
}

@media (max-width: 400px) {
  .inputStyles {
    width: 250px;
  }
}
