.close-button {
  position: absolute;
  top: 20px;
  right: calc(25% + 20px);
}

.close-button:hover {
  cursor: pointer;
}

.form {
  text-align: start;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;

  input,
  textarea,
  select,
  label {
    width: "100%";
  }
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.submit-container {
  width: 100%;
  margin-top: 10px;
  text-align: end;
}

.submit-button {
  font-size: 1rem;
  padding: 8px 25px;
}

.submit-button:hover {
  cursor: pointer;
}
