.closeButton {
  position: absolute;
  top: 22px;
  right: calc(25% + 22px);
  font-size: 1rem;
}

.closeButton:hover {
  cursor: pointer;
}

.form {
  text-align: start;
  width: fit-content;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;

  input,
  textarea,
  select,
  label {
    width: "100%";
  }
}

.contactContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.inputStyles {
  width: 300px;
  height: 2rem;
}

.submitContainer {
  width: 100%;
  margin-top: 10px;
  text-align: end;
}

.submitButton {
  font-size: 1rem;
}

.submitButton:hover {
  cursor: pointer;
}
