.createReservationButton {
  // width: 50%;
  width: fit-content;
  font-size: 1rem;
  border-radius: 8px;
  //background-color: #36496b;
}

.createReservationButton:hover {
  cursor: pointer;
}

.reservationFormContainer {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
