.App {
  text-align: center;
  width: 100vw;
}

.App-header {
  background-color: #e8e8e8;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
